
.inputError {
  border: 1px solid red;
}

.nameInputLabel {
  position: absolute;
  color: #7e7e7e;
  top: -13px;
  left: 10px;
  background: #F8F8F8;
  padding: 0 5px;
}


.errorMessage {
  color: red;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 0 0 16px;
}

.lebelErrorMessage {
  color: red;
}

.inputError {
   border: 1px solid red !important;
}
    

.formatPhone {
  font-size: 12px;
  line-height: 14px;
  color: #7e7e7e;
  padding-left: 16px;
  padding-top: 4px;
}

