@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$main-font-size: 16px;
$heading-font-size: 40px;
$main-font-family: 'Nunito', sans-serif;

$max-width: 1170px;

$bg-color: #F8F8F8;
$first-color: #F4E041;
$first-color-hover: #FFE302;
$second-color: #00BDD3;